/**.tox.tox-silver-sink.tox-tinymce-aux{
    z-index: 100000 !important;
}
**/
.holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    flex-direction: row;
    background-color: #272727;
    height: 90vh;
}
.save{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0%;
    margin-top: 20px;
    transition: all 1s ease;   
}
.save:hover{
    cursor: pointer;
    background-color: gray;
}
.board{
    background-color: black;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0%;
    margin-top: 20px;
    margin-left: 20px;
    transition: all 1s ease;
        
}
.board:hover{
    cursor: pointer;
    background-color: gray;
    
}
.active{
    background-color: white;
    border: none;
    color: black;
}
.leftSide{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex:1;
}
.rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex:2;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.header1{
    display: flex;
    color: white;
}
.boardLink{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.linkButton{
    background-color: black;
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0%;
    margin-top: 20px;
    margin-left: 20px;
    transition: all 1s ease;
}
.active2{
    margin-left: 365px;
}
.link{
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    color: white;
    transition: all 1s ease;
}
.hidden{
    opacity: 0;
}
.logInFirst{
    color: white;
}