.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: #FC4445;
    flex-direction: row;
    .left{
        display: flex;
        flex: 1;
        align-items: center;
        font-size: 40px;
        color: white;
        margin-left: 50px;
    }
    .right{
        display: flex;
        justify-content: right;
        align-items: center;
        flex-direction: row;
        flex: 1;
        .link{
            color: white;
            text-decoration: none;
            margin-right: 100px;
        }
        .signin{
            background-color: #FC4445;
            border: none;
            color: white;
            padding: 100% 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 20px;
            transition: all 1s ease;
            &:hover{
                cursor: pointer;
                background-color: orange;
            }
        }
        .signout{
            background-color: #FC4445;
            border: none;
            color: white;
            padding: 100% 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 20px;
            transition: all 1s ease;
            margin-right: 10px;
            &:hover{
                cursor: pointer;
                background-color: orange;
            }
        }
        .avatar{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: black;
            color: white;
            margin-right: 10px;
        }
    }
}